@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.Title {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Title .line {
  height: 2px;
  width: 82px;
  border-radius: 2px;
  background-color: #fff;
}
