@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import "./colors";
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
//variables
$max-width: 1400px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
//banner

.banner-container {
  .banner-text {
    padding: 2rem;
    p {
      position: relative;
      font-size: 3.5rem;
      &:first-child:after {
        content: "";
        position: absolute;
        background: rgba($main-color, 0.15);
        width: 12rem;
        margin-left: -6rem;
        height: 100%;
        z-index: -2;
      }
    }
  }
}
.Title {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .line {
    height: 2px;
    width: 82px;
    border-radius: 2px;
    background-color: #fff;
  }
}

body {
  background: $background-color;
  color: #fff;
}

//header
header {
  max-width: $max-width;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 80px;
  }

  a {
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $main-color;
    }

    &:hover {
      border-bottom: 2px solid rgba($main-color, 0.5);
    }

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

//careeer

.CareerItem-wrapper {
  max-width: $max-width;
  margin: 0 4rem;

  .CareerItem-box {
    border-radius: 0.7rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #10142e;

    p {
      margin-left: 1.6rem;
    }
    button {
      background-color: #f6a11f;
      padding: 0.7rem;
      border-bottom: none;
      border-radius: 0.7rem;
      cursor: pointer;
    }
  }
}
