@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.Title {
  padding: 4rem 0;
  font-size: 2.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Title .line {
  margin-top: 0.4rem;
  height: 2px;
  width: 82px;
  border-radius: 2px;
  background-color: #fff;
}

body {
  background: #090a13;
  color: #fff;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #090a13;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 1rem 0;
}

.header-wrapper {
  max-width: 1400px;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper img {
  width: 80px;
}

.header-wrapper a {
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
}

.header-wrapper a.active {
  border-bottom: 2px solid #f6a01f;
}

.header-wrapper a:hover {
  border-bottom: 2px solid rgba(246, 160, 31, 0.5);
}

.header-wrapper a:nth-child(1) {
  margin-left: 0;
}

.heroContainer {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroContainer .heroText {
  width: 30%;
}

.heroContainer .heroText .Text p {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
}

.heroContainer .heroText .Text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroContainer .heroText .Text div p {
  margin-right: 1rem;
}

.heroContainer .heroText .Text .HighlightedText {
  color: #f6a01f;
}

.heroContainer .heroText p.motto {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 2rem;
}

.heroContainer .heroText input {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: 0;
  background-color: #f6a01f;
  border-radius: 48px;
  font-weight: bold;
  font-size: 1.1rem;
}

.heroContainer .heroDiv {
  position: relative;
}

.heroContainer .heroDiv .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroContainer .heroDiv .content-wrapper .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: -2px -2px 15px rgba(255, 255, 255, 0.08), 2px 2px 15px #000000;
          box-shadow: -2px -2px 15px rgba(255, 255, 255, 0.08), 2px 2px 15px #000000;
}

.heroContainer .heroDiv .content-wrapper .weekDay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heroContainer .heroDiv .content-wrapper .weekDay .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}

.heroContainer .heroDiv .content-wrapper .weekDay .days .day {
  width: 12px;
  height: 161px;
  -webkit-box-shadow: inset 2px 2px 4px #000000, inset -2px -2px 4px rgba(255, 255, 255, 0.08);
          box-shadow: inset 2px 2px 4px #000000, inset -2px -2px 4px rgba(255, 255, 255, 0.08);
  border-radius: 40px;
}

.heroContainer .heroDiv .content-wrapper .weekDay .days h3 {
  margin-top: 0.5rem;
}

.heroContainer .heroDiv .content-wrapper .weekDay .days:nth-child(4) .day {
  height: 250px;
  background-color: #f6a01f;
}

.heroContainer .heroDiv .content-wrapper .weekDay .days:last-child {
  margin-right: 0;
}

.statsContainer {
  max-width: 1400px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 2px 2px 15px #000000, -2px -2px 15px rgba(255, 255, 255, 0.08);
          box-shadow: 2px 2px 15px #000000, -2px -2px 15px rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 1.5rem 0;
}

.statsContainer .stats {
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 5rem;
}

.statsContainer .stats:last-child {
  padding-right: 0;
  border-right: 0;
}

.statsContainer .stats:nth-child(3) p {
  color: #f6a01f;
}

.sectionBreaker {
  max-width: 1400px;
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sectionBreaker .line {
  width: 65px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

.sectionBreaker .circle {
  position: absolute;
  width: 8px;
  z-index: 1;
  height: 8px;
  border-radius: 50%;
  border: 0.5px solid #fff;
  background-color: #090a13;
}

.sectionBreaker .circle .innerCircle {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutUs-Zpro {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aboutUs-Zpro .Zpro-intro {
  width: 45%;
  padding: 3rem 1.5rem;
  background-color: #1d2144;
  -webkit-box-shadow: 2px 2px 15px #000000;
          box-shadow: 2px 2px 15px #000000;
}

.aboutUs-Zpro .Zpro-intro p {
  margin-top: 1.5rem;
}

.aboutUs-Zpro .Zpro-intro code {
  font-weight: bold;
}

.aboutUs-Zpro .Zpro-intro .contact-color {
  color: #f6a01f;
}

.whatWeDoContainer {
  padding: 5rem 0;
  position: relative;
}

.whatWeDoContainer .whatWeDoBackground {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  max-height: 100%;
  height: 100%;
}

.whatWeDoContainer img.WhatWeDoBg {
  width: 100%;
  height: 100%;
}

.whatWeDoContainer .whatWeDoCardContainer {
  max-width: 1400px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2.5rem;
}

.whatWeDoContainer .whatWeDoCardContainer .whatWeDo-Card .circle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatWeDoContainer .whatWeDoCardContainer .whatWeDo-Card h3 {
  margin-top: 2rem;
  color: #fff;
  font-size: 25px;
}

.whatWeDoContainer .whatWeDoCardContainer .whatWeDo-Card p {
  line-height: 1.5rem;
  text-align: justify;
}

.introductionContainer {
  max-width: 1400px;
  margin: auto;
  background-color: #111325;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.introductionContainer .introductionPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.introductionContainer .introductionPart .introductionContent {
  margin-top: 3rem;
}

.introductionContainer .introductionPart .introductionContent h1 {
  font-size: 35px;
}

.introductionContainer .introductionPart .introductionContent p {
  width: 522px;
  margin-top: 1.5rem;
}

.introductionContainer .introductionPart .introductionContent input {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 49px;
  margin-top: 1.5rem;
  background-color: #f6a01f;
  font-weight: bold;
}

.introductionContainer .introductionPart .light-Bulb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introductionContainer .introductionPart .light-Bulb img:last-child {
  margin-top: -1rem;
}

.introductionContainer .introductionPart .light-Bulb img:first-child {
  margin-top: -5.5rem;
}

.introductionContainer .introductionPart .light-Bulb:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: #f5a01f;
  border-radius: 50%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.introductionContainer .poweredByDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -4rem;
}

.introductionContainer .poweredByDiv .poweredByPart {
  z-index: 5;
  background: url("../img/poweredby.svg") no-repeat;
  width: 374px;
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}

.introductionContainer .poweredByDiv .poweredByPart img {
  width: 25px;
  height: 25px;
}

.RecentProject-Section {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.RecentProject-Section .Synical-botText {
  width: 50%;
}

.RecentProject-Section .Synical-botText h1 {
  font-size: 25px;
}

.RecentProject-Section .Synical-botText p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.RecentProject-Section .Synical-botText input {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px 0px;
  margin-top: 1.5rem;
  background-color: #266fff;
  font-weight: bold;
  color: white;
}

.portfolio {
  background-color: #1d2144;
  border-radius: 50px 50px 0 0;
}

.portfolio .navBar {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .navBar ul li {
  color: white;
  margin-right: 6rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
}

.portfolio .navBar ul li.active {
  color: #f6a01f;
  border-bottom: 2px solid #f6a01f;
}

.portfolio .portfolio-image-imgCard {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio-image-imgCard img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.portfolio .portfolioContainer {
  padding: 2rem 0;
  max-width: 1400px;
  margin: auto;
}

.applyNowSection {
  background: black;
  border-radius: 100px 100px 0 0;
}

.applyNowSection .applyNowContainer {
  max-width: 1400px;
  margin: auto;
  padding: 5rem 0;
}

.applyNowSection .applyNowContainer .applyNow-ReactJsDev {
  line-height: 3rem;
}

.applyNowSection .applyNowContainer .applyNow-Requirement {
  line-height: 3rem;
}

.applyNowSection .applyNowContainer .applyNow-Requirement h1 {
  margin-top: 2rem;
}

.applyNowSection .applyNowContainer .applyNow-Requirement ul {
  margin-left: 2rem;
}

.applyNowSection .applyNowContainer .applyNow-Salary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
}

.applyNowSection .applyNowContainer .applyNow-Salary p:first-child {
  font-weight: bold;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td {
  padding: 0.5rem 0rem;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td input {
  padding: 0.3rem 0.7rem;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td textarea {
  resize: none;
  overflow-y: auto;
  width: 100%;
  padding: 0.3rem 0.7rem;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td .file-drag .drop-area {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 1;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td .file-drag .drop-area .upload-image {
  width: 200px;
  height: 200px;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td .file-drag .drop-area p {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td .or {
  width: 64%;
  padding: 1.5rem 0;
  text-align: center;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td .choose-file {
  padding: 0.5rem 4rem;
}

.applyNowSection .applyNowContainer .applyForJob-Table form table tr td button {
  padding: 0.5rem 5rem;
  background-color: #f6a01f;
  font-weight: bold;
  border: none;
  margin-top: 1.5rem;
}

footer .topFooter {
  background-color: #111325;
}

footer .topFooter .footerContainer {
  max-width: 1400px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding: 4rem 0;
}

footer .topFooter .footerContainer .footerLogo {
  width: 80px;
}

footer .topFooter .footerContainer .firstRow {
  line-height: 2.5rem;
}

footer .topFooter .footerContainer .firstRow .firstRowItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .topFooter .footerContainer .firstRow .firstRowItem p {
  margin-left: 0.5rem;
}

footer .topFooter .footerContainer .secondRow h2,
footer .topFooter .footerContainer .thirdRow h2 {
  margin: 0 0 4rem 0;
}

footer .topFooter .footerContainer .secondRow li,
footer .topFooter .footerContainer .thirdRow li {
  line-height: 2.5rem;
  list-style: none;
}

footer .topFooter .footerContainer .fourthRow h2 {
  margin: 0 0 4rem 0;
}

footer .topFooter .footerContainer .fourthRow button {
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  background-color: #f6a01f;
  border-radius: 44px;
  font-weight: 700;
  font-size: 1.1rem;
}

footer .bottomFooter {
  position: relative;
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottomFooter p.copyRightText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .bottomFooter .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottomFooter .socialMediaIcons .circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

footer .bottomFooter .socialMediaIcons .circle:first-child {
  margin-left: 0;
}

@media screen and (min-width: 1439px) {
  .whatWeDoBackground {
    position: relative;
  }
  .whatWeDoBackground:before {
    position: absolute;
    left: 0;
    z-index: -5;
    top: 0;
    content: "";
    height: 100%;
    width: 1000%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    background-color: #111325;
  }
}
/*# sourceMappingURL=index.css.map */