@import "./colors";
@media screen and (max-width: 1450px) {
  header {
    padding: 0 2rem;
  }
  .heroContainer {
    padding: 0 2rem;
  }
  .banner-container {
    .banner-text {
      margin: 0 1rem;
    }
  }
  .whatWeDoContainer {
    padding: 1rem 2rem;
    background-color: #111325;
    .whatWeDoBackground {
      display: none;
    }
  }
  .whatWeUseContainer {
    background-color: $background-color;
  }
  .CarrersContainer {
    .CarrersItem-wrapper {
      padding: 0 2rem;
    }
  }
  .RecentProject-Section {
    display: none;
  }
  .statsContainer {
    display: none;
  }

  .portfolio {
    padding: 0 2rem;
  }
  footer {
    .topFooter {
      .footerContainer {
        margin: 0 1.5rem;
      }
    }
    .bottomFooter {
      margin: 0 1.5rem;
      display: flex;
      flex-direction: column;
      p.copyRightText {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
      .socialMediaIcons {
        margin: 1rem 0;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .heroContainer {
    flex-direction: column-reverse;
    .heroText {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .Text {
        font-size: 3rem;
        p {
          text-align: center;
          line-height: 4rem;
        }
        div {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .portfolio {
    .portfolioContainer {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }
  footer {
    .topFooter {
      .footerContainer {
        .firstRow {
          .firstRowItem {
            p {
              font-size: 1rem;
            }
          }
        }
        .secondRow,
        .thirdRow {
          h2 {
            font-size: 1.2rem;
          }
          li {
            font-size: 1rem;
          }
        }
        .fourthRow {
          h2 {
            font-size: 1.2rem;
          }
          input {
            padding: 0.4rem 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    nav {
      display: none;
    }
    .header-wrapper {
      img.burger {
        display: block;
      }
    }
  }
  .heroContainer {
    .heroDiv {
      img {
        width: 100vw;
        height: 100vh;
      }
      .content-wrapper {
        .circle {
          width: 50px;
          height: 50px;
        }
        .weekDay {
          .days {
            margin-right: 1.2rem;
            .day {
              height: 120px;
              &.hero-active {
                height: 150px;
              }
            }
          }
        }
      }
    }
  }
  .banner-container {
    padding: 4rem 0;
    .banner-text {
      p {
        font-size: 2.5rem;
      }
    }
  }
  .whatWeDoContainer {
    .whatWeDoCardContainer {
      display: grid;
      grid-template-columns: auto auto;

      .whatWeDo-Card {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  footer {
    .topFooter {
      .footerContainer {
        padding: 2rem 0;
        .firstRow {
          line-height: 2rem;
          .firstRowItem {
            p {
              font-size: 0.8rem;
            }
          }
        }
        .secondRow,
        .thirdRow {
          h2 {
            font-size: 1rem;
          }
          li {
            font-size: 0.8rem;
            line-height: 1.5rem;
          }
        }
        .fourthRow {
          h2 {
            font-size: 1rem;
          }
          input {
            padding: 0.2rem 0;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .whatWeDoContainer {
  }
  footer {
    .topFooter {
      .footerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .firstRow {
          .firstRowItem {
            p {
              font-size: 1rem;
              line-height: 2rem;
            }
          }
        }
        .secondRow,
        .thirdRow {
          display: none;
        }
        .fourthRow {
          h2 {
            font-size: 1.5rem;
          }
          input {
            padding: 0.8rem 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .banner-container {
    padding: 2.5rem 0;
    .banner-text {
      p {
        font-size: 2rem;
      }
    }
  }
  .whatWeDoContainer {
    .whatWeDoCardContainer {
      display: grid;
      grid-template-columns: auto;

      .whatWeDo-Card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
          font-size: 1.5rem;
        }
        p {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
  footer {
    .topFooter {
      .footerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .firstRow {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 2.5rem;
        }
        .fourthRow {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .whatWeDoContainer {
  }
}

@media screen and (max-width: 280px) {
  .whatWeDoCardContainer {
    .whatWeDo-Card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
